<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div>
			<br>
			<div style="text-align: center;">
				<span class="title1"><i>Counter-Strike Report</i></span>
				<br>
				<span class="title2"><i>for</i></span>
				<br>
				<span class="title3">MAZDA-PEEK</span>
				<br><br>
			</div>

			<div class="content">
				<div>
					<div class="bub">
						<span class="bubtext">80</span><br>
						<span class="bubsub">HSP</span>
					</div>
				</div>

				<div style="width: 15%;"></div>
				<div>
					<div class="bub">
						<span class="bubtext">1.12</span><br>
						<span class="bubsub">KDR</span>
					</div>
				</div>
			</div>

			<div class="content">
				<a class="apfp" href="https://steamcommunity.com/id/ubaldocs">
					<img class="pfp" src="https://avatars.steamstatic.com/b05685fde652e8f3dc02b01c331167bb19ac4649_full.jpg"></img>
				</a>
			</div>
			
			<div class="content">
				<div class="bub">
					<span class="bubtext">30%</span><br>
					<span class="bubsub">Accuracy</span>
				</div>
				<div style="width: 15%;"></div>
				<div class="bub">
					<span class="bubtext">AWP</span><br>
					<span class="bubsub">Best Gun</span>
				</div>
			</div>

			<br><br>

			<div class="content">
				<a style="font-size: small" href="/">generate another report</a>
			</div>
		</div>
	</body>
</html>
